*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: #424242; 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    color: #F5F5F5; 
    font-weight: 600;
    transition: all 0.3s ease;
}

span{
    color: #229799; 
}

.navbar a{
    font-size: 18px;
    color: #F5F5F5; 
    font-weight: 500;
    margin: 0 20px;
    transition: color 0.3s ease; 
}

.navbar a:hover,
.navbar a.active{
    color: #229799; 
}

.contact{
    padding: 10px 28px;
    background-color: #F5F5F5; 
    color: #424242; 
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: #229799; 
    color: #F5F5F5; 
    border: 2px solid #229799;
    box-shadow: 0 0 25px #229799; 
}
