*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F5F5F5; 
    margin: 0; 
}

.header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 35px 12%;
    background-color: #424242; 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    color: #F5F5F5; 
    font-weight: 600;
    transition: all 0.3s ease;
}

span{
    color: #49a0bb; 
}

.navbar a{
    font-size: 18px;
    color: #F5F5F5; 
    font-weight: 500;
    margin: 0 20px;
    transition: color 0.3s ease; 
}

.navbar a.active {
    color: #49a0bb; 
}

.navbar a:hover,
.navbar a.active{
    color: #49a0bb; 
}

#name, #role {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

#name {
    animation-delay: 0.5s; 
}

#role {
    animation-delay: 1s; 
}

@keyframes fadeInUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

#cv-button {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
    animation-delay: 1.5s; 
}

#about-heading, #about-description {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

#about-heading {
    animation-delay: 0.5s; 
}

#about-description {
    animation-delay: 1s; 
}

@keyframes fadeInUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}


.contact{
    padding: 10px 28px;
    background-color: #F5F5F5; 
    color: black; 
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: #49a0bb; 
    color: #F5F5F5; 
    border: 2px solid #49a0bb;
    box-shadow: 0 0 25px #49a0bb; 
}

.section-1{
    width: 100%;
    min-height: 100vh;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.container{
    max-width: 900px;
}

.container h3{
    font-size: 62px;
    line-height: 1.2;
}

.container p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
    text-align: center;
    margin-top: 20px;
}

.btn{
    padding: 15px 58px;
    background-color: #424242;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transform: 0.3s ease;
}

.btn:hover{
    background-color: #49a0bb;
    color: white;
    box-shadow: 0 0 25px #49a0bb;
}

.img-box img{
    border-radius: 50%;
    width: 550px;
    max-width: 100%; 
    height: auto;    
}

.project {
    margin-bottom: 40px; 
    padding: 20px;
    background: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.project h4 {
    font-size: 24px;
    color: black; 
    margin-bottom: 10px;
}

img-box-project {
    border-radius: 8px; 
    width: 100%; 
    height: auto; 
    transition: transform 0.3s; 
}

.img-box-project:hover {
    transform: scale(1.02);
}

.section-project {
    padding: 100px 12% 30px; 
    background: #F5F5F5; 
}

#projects-heading, #projects-description {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

#projects-heading {
    animation-delay: 0.5s; 
}

#projects-description {
    animation-delay: 1s; 
}

.project {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

.project-title, .project-description {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

.project-title {
    animation-delay: 1.5s;
}

.project-description {
    animation-delay: 2s; 
}

.project-img {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
    animation-delay: 2.5s; 
}

@keyframes fadeInUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.projects-container {
    margin-top: 20px; 
}


#map {
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
}

#location-list {
    position: absolute;
    top: 80px; 
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

#location-list ul {
    list-style-type: disc; 
    padding-left: 20px; 
    margin: 0;
}

#location-list li {
    margin-bottom: 8px;
    cursor: pointer;
    color: black;
    transition: color 0.1s;
}


#location-list li:hover {
    color: #49a0bb; 
}

.section-contact {
    padding: 100px 12% 30px; 
    background: #F5F5F5; 
}

.contact-info {
    margin-top: 20px;
    font-size: 18px;
}

.contact-info a {
    color: #49a0bb;
    text-decoration: none; 
}

.contact-info a:hover {
    text-decoration: underline; 
}

.social-media {
    margin-top: 15px;
}

.social-media a {
    margin-right: 15px; 
    font-size: 24px; 
    color: #424242; 
    transition: color 0.3s; 
}

.social-media a:hover {
    color: #49a0bb; 
}

#contact-heading, #contact-description {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

#contact-heading {
    animation-delay: 0.5s; 
}

#contact-description {
    animation-delay: 1s; 
}

.contact-info {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
    animation-delay: 1.5s; 
}

@keyframes fadeInUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}