*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 35px 12%;
    background-color: #424242; 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.logo{
    font-size: 25px;
    color: #F5F5F5; 
    font-weight: 600;
    transition: all 0.3s ease;
}

span{
    color: #49a0bb; 
}

.navbar a{
    font-size: 18px;
    color: #F5F5F5; 
    font-weight: 500;
    margin: 0 20px;
    transition: color 0.3s ease; 
}

.navbar a.active {
    color: #49a0bb; 
}

.navbar a:hover,
.navbar a.active{
    color: #49a0bb; 
}

.contact{
    padding: 10px 28px;
    background-color: #F5F5F5; 
    color: #424242; 
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: #49a0bb; 
    color: #F5F5F5; 
    border: 2px solid #49a0bb;
    box-shadow: 0 0 25px #49a0bb; 
}

.section-1{
    width: 100%;
    min-height: 100vh;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.container{
    max-width: 800px;
}

.container h3{
    font-size: 62px;
    line-height: 1.2;
}

.container p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
    text-align: center;
    margin-top: 20px;
}

.btn{
    padding: 15px 58px;
    background-color: #424242;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transform: 0.3s ease;
}

.btn:hover{
    background-color: #49a0bb;
    color: white;
    box-shadow: 0 0 25px #49a0bb;
}

.img-box img{
    border-radius: 50%;
    width: 550px;
    max-width: 100%; 
    height: auto;    
}

